# Cloudflare R2 Storage Configuration
CLOUDFLARE_R2_ACCOUNT_ID=01378a653455d6b33f002b6cd8255ccf
CLOUDFLARE_R2_ACCESS_KEY_ID=adcab6070ec054053c0d26d8f5ea8937
CLOUDFLARE_R2_SECRET_ACCESS_KEY=f7bo564d1e3bc96646d57f3d55b3ef2090b0a7ccc51a0499ac373a85320f1a71
CLOUDFLARE_R2_BUCKET_NAME=profile-dp
CLOUDFLARE_R2_REPORT_BUCKET_NAME=report-post
CLOUDFLARE_R2_PUBLIC_URL=

# Gemini API
GEMINI_API_KEY=
